body {
  box-sizing: border-box;
  margin: 0;
  padding: 60px 60px 256px 60px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  padding-bottom: 32px;
}

.draggable-list {
  box-sizing: border-box;
  margin: 0;
  padding: 32px;
  height: 100%;
  border-radius: 16px;
  background: lightgray;
  list-style: none;
}

.draggable-item {
  position: relative;
  padding: 8px;
  border: 1px solid rgba(0,0,0,0);
  background: #00BABC;
  transition: transform .2s linear;
  user-select: none;
  cursor: pointer;
  z-index: 0;
}

.draggable-item:not(:last-child) {
  margin-bottom: 4px;
}
